<form action="/payment/results">
  <div>
  <label for="APR">APR</label>
  <input id="APR" type="text" name="user_apr" placeholder="E.g. 5.42">
  </div>

  <div>
  <label for="years">Number of years</label>
  <input id="years" type="text" name="user_years" placeholder="How many years to repay?">
  </div>

  <div>
  <label for="principal">Principal</label>
  <input id="principal" type="text" name="user_pv" placeholder="How much principal?">
  </div>

  <div>
  <button>Calculate monthly payment</button>
  </div>
</form>
