<form action="/square_root/results">
  <label for="square_root">Enter a number</label>
  <input id="square_root" type="text" name="user_number" placeholder="What number do you want">
  <div>
  <button>Calculate square Root</button>
  </div>
</form>
